@import "../../../styles/globals.scss";

.container {
  width: 960px;
  height: 520px;
  padding: 20px;
  margin: 0;
  border: $border-weight solid $border-color;
  border-radius: $border-radius;
  list-style: none;
  overflow: auto;
}
