@import "@/styles/common.scss";

@mixin wrapper-default {
  display: flex;
  align-items: center;
  height: fit-content;
  min-height: 80px;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  border: $border-weight solid $border-color;
  border-radius: $border-radius;
}

.wrapper {
  @include wrapper-default;
  background-color: $pale-orange;
}

.checked {
  @include wrapper-default;
  background-color: $light-orange;
}

.checkbox {
  color: $green;
  margin-right: 10px;
}

.text {
  width: 100%;
  padding: 0 10px;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}
